<header id="site-header">
  <a href="/<%= group.slug %>/dashboard">
    <h2>Helper</h2>
  </a>
  <nav id="site-nav">
    <a href="/<%= group.slug %>/help-items/create">
      Ask for Help
    </a>
    <a href="/dashboard">
      User Dashboard
    </a>
    <a href="/logout">
      Logout
    </a>
  </nav>
</header>
<main class="grid-y grid-padding-y full dashboard">
  <h2 class="text-center">Welcome back to the <%= group.name %> Group!</h2>
  <div class="callout primary">
    <%- group.description %>
  </div>
    <ul 
      class="grid-x grid-margin-x small-up-1 accordion" 
      data-accordion data-allow-all-closed="true"
      data-deep-link="true" 
      data-update-history="true" 
      data-deep-link-smudge="true" 
      data-deep-link-smudge-delay="500"
    >
      <li class="cell card accordion-item" data-accordion-item>
        <a href="#recent-announcements" class="accordian-title">
          <div class="card-divider text-center">
            <h3>Recent Announcements</h3>
          </div>
        </a>
        <div class="card-section accordion-content" data-tab-content id="recent-announcements">
          <h5>Announcements coming soon!</h5>
        </div>
      </li>
      <li class="cell card accordion-item" data-accordion-item>
        <a href="#upcoming-items" class="accordian-title">
          <div class="card-divider text-center">
            <h3>Upcoming Help Items</h3>
          </div>
        </a>
        <% if (!helpItems.length) { %>
        <div class="text-center card-section accordion-content grid-x small-up-1" data-tab-content id="upcoming-items">
          <h5>No upcoming Help Items. Reach out to your Group and see who needs help!</h5>
        </div>
        <% } else { %>
        <div class="card-section accordion-content accordion grid-x small-up-1" data-tab-content data-accordion
          data-multi-expand="true" data-allow-all-closed="true" id="upcoming-items">
      
          <% helpItems.forEach(helpItem => { %>
          <div class="card accordion-item" data-accordion-item>
            <a href="#" class="accordian-title">
              <div class="card-divider help-item-header">
                <h4><%- helpItem.title %>
                </h4>
                
                <% if (helpItem.help_type === 'financial') { %>
                  <span class="material-symbols-outlined">
                    payments
                  </span>
                <% } %>
                <% if (helpItem.help_type === 'time') { %>
                  <span class="material-symbols-outlined">
                    schedule
                  </span>
                <% } %>
                <% if (helpItem.help_type === 'general') { %>
                  <span class="material-symbols-outlined">
                    group_add
                  </span>
                <% } %>
              </div>
            </a>

            <div class="card-section  accordion-content" data-tab-content>
              <%- helpItem.description %>
              <a href="/<%- group.slug %>/help-items/<%- helpItem.id %>" class="button">
                See Item
              </a>
            </div>
          </div>
          <% }) %>
        </div>
        <% } %>
      </li>
    </ul>
</main>
<script>
  window.addEventListener('load', () => {
    $('.accordion').each((_, el) => {
      new Foundation.Accordion($(el))
    })
  })
</script>