<header id="site-header">
  <a href="/dashboard">
    <h2>Helper</h2>
  </a>
  <nav id="site-nav">
    <a href="/<%= group.slug %>/dashboard">
      <%= group.name %> Dashboard
    </a>
    <a href="/dashboard">
      User Dashboard
    </a>
    <a href="/logout">
      Logout
    </a>
  </nav>
</header>
<main class="grid-y grid-padding-y full">
  <h1 class="text-center">How can the <%= group.name %> Group help you?</h1>
  <form class="cell help-item" action="/functions/help-items" method="POST" enctype="multipart/form-data">
    <div>
      <div id="image-output">
        </div>
      <label for="image" class="button">
        Headline Image
      </label>
      <input type="file" name="image" id="image" class="show-for-sr" />
    </div>

    <div class="input_group">
      <label for="title">
        Title*
      </label>
      <input name="title" type="text" id="title" required />
    </div>
    <div class="input_group">
      <label for="description">
        Description
      </label>
      <!--
        This will be replaced with a tiny.mce instance
        and be all cool and stuff
      -->
      <textarea 
        name="description"
        id="description"
      ></textarea>
    </div>

    <div class="input_group">
      <label>Help Type
        <select name="help_type">
          <option value="general">General</option>
          <option value="financial">Financial</option>
          <option value="time">Time</option>
        </select>
      </label>
    </div>

    <div>
      <label for="help_time">
        When is this needed?
      </label>
      <input type="datetime-local" name="end_at" id="help_time" />
    </div>

    <input value=<%= group.id %> name="group_id" hidden />

    <button type="submit" class="submit button">
      Request Help
    </button>
  </form>
</main>
<script>
  window.addEventListener('load', () => {
    const avatarInput = document.getElementById('image')
    const avatarOutput = document.getElementById('image-output')

    avatarInput.addEventListener('change', e => {
      const files = e.target.files

      // FileReader support
      if (FileReader && files && files.length) {
        var fr = new FileReader();
        fr.onload = function () {
          console.log('')
          avatarOutput.style.background = `url('${fr.result}') center center no-repeat`;
          avatarOutput.style.backgroundSize = 'cover';
        }
        fr.readAsDataURL(files[0]);
      }
    })
  })
</script>