<header id="site-header">
  <a href="/dashboard">
    <h2>Helper</h2>
  </a>
  <nav id="site-nav">
    <a href="/<%= group.slug %>/dashboard">
      <%= group.name %> Dashboard
    </a>
    <a href="/dashboard">
      User Dashboard
    </a>
    <a href="/logout">
      Logout
    </a>
  </nav>
</header>
<main class="grid-y grid-padding-y full">
  <h1 class="text-center">How can the <%= group.name %> Group help you?</h1>
  <form class="cell help-item" action="/functions/update-help-item" method="POST" enctype="multipart/form-data">
    <div>
      <label for="image" class="button">
        Headline Image
      </label>
      <input type="file" name="image" id="image" class="show-for-sr" />
    </div>

    <div class="input_group">
      <label for="title">
        Title*
      </label>
      <input name="title" type="text" id="title" required value="<%= helpItem.title %>"/>
    </div>
    <div class="input_group">
      <label for="description">
        Description
      </label>
      <!--
        This will be replaced with a tiny.mce instance
        and be all cool and stuff
      -->
      <textarea name="description" id="description">
        <%= helpItem.description %>
      </textarea>
    </div>

    <div class="input_group">
      <label>Help Type
        <select value="<%= helpItem.help_type %>" name="help_type">
          <option value="general" <%= helpItem.help_type === 'general' ? 'selected' :'' %>>General</option>
          <option value="financial" <%= helpItem.help_type === 'financial' ? 'selected' :'' %>>Financial</option>
          <option value="time" <%= helpItem.help_type === 'time' ? 'selected' :'' %>>Time</option>
        </select>
      </label>
    </div>

    <div>
      <label for="help_time">
        When is this needed?
      </label>
      <input type="datetime-local" name="end_at" id="help_time" value="<%= helpItem.end_at %>" />
    </div>

    <input value=<%= group.id %> name="group_id" hidden />
    <input value=<%= helpItem.id %> name="help_item" hidden />


    <button type="submit" class="submit button">
      Update Help Request
    </button>
  </form>
</main>