<main class="grid-y grid-padding-y full help-item">
  <% if (helpItem.image) { %>
    <img src="<%- helpItem.image%>" alt="<%- helpItem.title%> Main Image" />
  <% } %>
  <h1><%= helpItem.title %></h1>
  <%- helpItem.description %>
  <h2>Assigned Helpers</h2>
  <ul>
    <% for (const helper of helpers) { %>
      <li><%- helper.meta.name ?? helper.email %></li>
    <% } %>
  </ul>
  <form action="/functions/offer-help" method="POST">
    <input hidden name="help_item" value="<%- helpItem.id %>"/>
    <input hidden name="group_id" value="<%- helpItem.group_id %>" />

    <button class="button submit" type="submit">
      Offer to be a Helper
    </button>
  </form>
</main>