<header id="site-header">
  <a href="/dashboard">
    <h2>Helper</h2>
  </a>
  <nav id="site-nav">
    <a href="/<%= group.slug %>/dashboard">
      <%= group.name %> Dashboard
    </a>
    <a href="/logout">
      Logout
    </a>
  </nav>
</header>
<main class="grid-y grid-padding-y full help-item">
  <% if (helpItem.image) { %>
    <div id="image-output" style="background: url('<%= helpItem.image %>') center center no-repeat; background-size: cover;">
    </div>
  <% } %>
  <h1><%= helpItem.title %></h1>
  <%- helpItem.description %>
  <% if (helpItem.end_at) { %>
    <h3 class="help-item-time">Ends <%= formatters.date.formatDistanceToNow(new Date(formatters.date.formatISO(new Date(helpItem.end_at))), { addSuffix: true }) %></h3>
  <% } %>
  <h2>Assigned Helpers</h2>
  <ul>
    <% for (const helper of helpers) { %>
      <li><%- helper.meta.name ?? helper.email %></li>
    <% } %>
  </ul>
  <% if (helpers.some(({ id }) => id === user.id)) { %>
    <form action="/functions/cancel-help" method="POST">
      <input hidden name="help_item" value="<%- helpItem.id %>" />
      <input hidden name="group_id" value="<%- helpItem.group_id %>" />
    
      <button class="button alert" type="submit">
        Cancel Offer for Help
      </button>
    </form>
  <% } else { %>
  <form action="/functions/offer-help" method="POST">
    <input hidden name="help_item" value="<%- helpItem.id %>"/>
    <input hidden name="group_id" value="<%- helpItem.group_id %>" />

    <button class="button submit" type="submit">
      Offer to be a Helper
    </button>
  </form>
  <% } %>
  <% if (user.id === helpItem.creator_id) { %>
    <form action="/functions/delete-help-item" method="POST">
      <input hidden name="user_id" value="<%= user.id %>" />
      <input hidden name="group_id" value="<%= helpItem.group_id %>" />
      <input hidden name="help_item" value="<%= helpItem.id %>" />

      <button class="button alert" type="submit" onclick="if (!confirm('Are you sure you want to delete \'<%= helpItem.title %>\'? This cannot be undone.')) { event.preventDefault() }">
        Revoke Request for Help
      </button>
    </form>
    <a href="/<%= group.slug %>/help-items/<%= helpItem.id %>/edit" class="button">
      Edit Request for Help
    </a>
  <% } %>
</main>