<main class="grid-y grid-padding-y full">
  <h2 class="text-center">Helper's Privacy Policy</h2>
  <p class="centered">
    We at <strong>Helper</strong> take your privacy seriously and want to be
    open and transparent about how your data is handled and used. We provide the
    following <strong>Privacy Policy</strong> explaining the ways in which we collect
    and use any personal information.
  </p>

  <h3 class="text-center">
    Collection of Routine Information
  </h3>
  <p class="centered">
    <strong>Helper</strong> tracks basic information about the vists and requests to
    the underlying application servers. This information includes, but is not limited to,
    IP addresses, browser details such as User Agent, tiemstamps, and referring pages.
    None of this information can be used in any way to identify specific visitors to the
    system and is only used for routine server administration and maintenance purposes.
  </p>
  <p class="centered">
    In layman's terms: We log some data about your requests and will look at those logs when
    we have a bug and need to understand what caused the issue and how to fix it. If things
    go well, we will never even look at those logs and that information. Ever. 
  </p>

  <h3 class="text-center">
    Cookies
  </h3>
  <p class="centered">
    We use <strong>Cookies</strong> for authentication when you sign into <strong>Helper</strong>.
    Beyond that, we do not use any <strong>Cookies</strong>, tracking scripts, or
    <strong>Third-Party Services</strong>. We don't like that model of operating and don't
    want to clog up your bandwidth with tracking beacons. 
  </p>

  <h3 class="text-center">
    User Profile Information
  </h3>
  <p class="centered">
    When you <a href="/sign-up">sign up</a> to be a <strong>Helper</strong> you use an
    email and when you fill out your profile, you may enter your address, phone number,
    and other identifying information. We do not look at this information, we do not sell
    that information, and we delete all instances of stale data when you update or delete
    your profile. As such, all deletes or updates are <strong>one-way operations</strong>
    and cannot be undone.
    </p>
    <p class="centered">
      If you have signed up and want to remove your information from our system, you can
      delete your account and all information will be purged within 24 hours. Your comments,
      media, and other data that was created by you will be deleted and purged from our records
      but any replies will be kept, simply referring a Deleted Item. We reserve the right to
      store non Identifying Information such as timestamps and Universal Unique Identifiers
      for admnistrative and retrosepctive purposes.
    </p>
    <p class="centered">
      Your password is encrypted using a military-grade algorithm used by OpenBSD and other
      Linux distributions for password hashing. We do not log your password, plaintext or 
      otherwise, <strong>ever</strong> and no administrative user access your password for any 
      reason. If you forget your password, you can request a reset but we cannot tell you what
      it is because we honestly don't know!
</main>