<main class="grid-y grid-padding-y full text-center">
  <h2>Welcome Back!</h2>

  <form class="sign-up" action="/functions/login" method="POST">
    <div class="input_group">
      <label for="email">Email*</label>
      <input type="email" id="email" name="email" placeholder="sally@email.co" required
        aria-describedby="email-error-text" />
    </div>
    <div class="input_group">
      <label for="password">Password*</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button class="button submit" type="sbmit">
      Login
    </button>
  </form>
</main>