<main class="grid-y grid-padding-y full text-center">
  <h2>Thanks for being a Helper!</h2>
  <p class="centered">
    It means the world to us that you want to join <strong>Helper</strong>
    and find ways to change your community! Signing up for <strong>Helper</strong>
    helps you help others and we're so glad that you would choose to do that.
  </p>
  <p class="centered">
    We are currently in a closed testing phase and are creating Groups on an
    invite-only basis. However, we encourage you to sign up and fill out your
    Profile now while you wait for your Groups to be created.
  </p>
  <p class="centered">
    If you want to request to create a Group in this testing phase, we would
    love to hear from you!
    <a href="/#request-access">
      Request access
    </a> today and someone from our team will reach out shortly with next steps!
  </p>
  <p class="centered">
    If you are interested in how we use any information we receive from you
    or what data we collect about your visits to <strong>Helper</strong>, you
    can look at our <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
  </p>
  <form class="sign-up" action="/functions/login" method="POST">
    <div class="input_group">
      <label for="email">Email*</label>
      <input type="email" id="email" name="email" placeholder="sally@email.co" required
        aria-describedby="email-error-text" />
    </div>
    <div class="input_group">
      <label for="password">Password*</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button class="button submit" type="sbmit">
      Login
    </button>
  </form>
</main>