html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body > header,
body > footer {
  flex-grow: 0
}

body > main {
  flex-grow: 1;
}

.headline {
  width: 100%;
  height: 150vh;
  background: url('/img/headline.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-height: 450px) {
  .headline {
    height: 90vh;
  }
}

@media (min-height: 850px) {
  .headline {
    height: 80vh;
  }
}

.headline-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(33, 33, 33, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  z-index: 1;
  color: #fefefe;
  text-align: center;
}

.headline-cover h1 {
  font-size: 3.25rem;
}

.headline-cover h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about {
  padding: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2.5rem;
}

.features {
  background: #70A3CC;
  color:#fefefe;
  padding: 2.5rem;
}

.features h2 {
  text-align: right;
  font-size: 2.5rem;
}

.feature-list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.feature {
  padding: 0.5rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 33%;
  min-width: 275px;
}

.feature .icon .material-symbols-outlined {
  font-size: 4rem;
}

.sign-up,
form.help-item {
  width: 100%;
  padding: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}


p.centered {
  max-width: 35rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 1rem;
}


footer p {
  font-size: 0.75rem;
  padding: 1rem;
}

.dashboard {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px;
}

.dashboard .card {
  border: 1px solid rgba(33, 33, 33, 0.25);
  border-radius: 4.5px;
}

.help-item {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.input_group input:not([type="date"]) {
  padding: 1.5rem;
  font-size: 1.75rem;
  font-weight: 200;
  color:rgba(33, 33, 33, 0.85);
  border-radius: 4.5px;
  border: 1px solid rgba(33, 33, 33, 0.25);
}

#site-header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #70A3CC;
  color: #fefefe;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#site-header a {
  color: inherit;
}

#site-nav a:not(:last-of-type) {
  margin-right: 1rem;
}

.help-item-header {
  justify-content: space-between;
  align-items: center;
}

.avatar-wrap {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.profile-avatar {
  width: 250px;
  height: 250px;
  
  border-radius:50%;
  border: 1px solid rgba(33, 33, 33, 0.75);
}

.avatar-edit {
  margin-top: 2rem;
}

.profile {
  max-width: 1200px;
  margin: 0 auto;
}

.profile header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-output {
  width: 100%;
  height: 40vh;
  background-size: cover;
  background: rgba(33, 33, 33, 0.5);
  border-radius: 4.5px;
}

.member-header {
  justify-content: space-between;
  align-items: center;
}

.member-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.member-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

.member-meta span {
  font-weight: 700;
}